<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Snipplets</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/myOwn.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Snipplets", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HTML Helpers", "Index", "HTMLHelpers")</li>

                    <li class="nav-item dropdown">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Files & Graphics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Store DB Locally", "Index", "Persistenz", new { area = "" }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Files Upload", "Index", "Employee", new { area = "" }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("JSON", "Index", "JSONData", new { area = "" }, new { @class = "dropdown-item" })
                            </li>

                        </ul>
                    </li>
                    </li>
                    <li class="nav-item dropdown">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Toastr", "Index", "Javascript", new { area = "" }, new { @class = "dropdown-item" })
                                </li>
                                <li>
                                    @Html.ActionLink("JS Playground", "UeberUns", "Javascript", new { area = "" }, new { @class = "dropdown-item" })
                                </li>

                            </ul>
                        </li>
                    </li>
                    <li class="nav-item dropdown">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Final Project<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("BitCoin JSON with MVC", "Index", "JSONBitcoin", new { area = "" }, new { @class = "dropdown-item" })
                            </li>


                        </ul>
                    </li>
                    </li>


                    <li>@Html.ActionLink("?", "Index", "General")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/toastr.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
